.Rhistory
#shiny-related files for shinyapps deployment
rsconnect

*.pdf
*.png
*.ods
*.xlsx

#LaTeX-associated files which don't need to be tracked
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz

#don't need to track course page here
*.html

#some data files
*.dta
Lab8Data.csv
ben_races.csv
q1data.csv
